*{
    margin: 0;
    padding: 0;
}
/* bar menu */
.menu{
    width: 100%;
    
    background-color: white;
    
}
.word{
    width: 95%;
    margin: auto;
    display: flex;
    
}
.back{
    background-image: url(content/cr.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/*style les listes*/
ul {    
list-style-type: none;
width: 60%;
margin-left: 35%;
}

.buy{
   display: inline-block;
    font-size: 15px;
   
    font-family: sans-serif;
    padding: 10px;
    border: 0.5px black solid ;
    border-radius: 25px;

    
    
    background-color: white;
}
li{
    display: inline-block;
    padding: 10px;
    font-size: 20px;
   
    font-family: 'montserrat', sans-serif;
    
}
a{
    text-decoration: none;
}
.logo{
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'montserrat', sans-serif;
    

}

/* partie de garage*/
.garage{
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
    
    
}
.bar hr{
    width:100px;
    border: 1px black solid;
    
    background-color: black;
    margin:auto;
    height: 5px;
}
.cars{
    width: 70%;
    margin: auto;
}
td{
    padding:3px;
}
.more{
    
    width: 10%;
    margin: auto;
    margin-top: 30px;
}
.cars p{
    background-color: black;
    color: white;
    padding: 10px;
    
    
}
.price{
    color:gray;
    
}

/* partie footer*/
.foot{
    width: 100%;
}
.foot img{
    
    width: 100%;
    margin: auto;
}


/* partie commntaires*/
.Testimonail{
   
    background-image: url(content/cr3.jpg);
    
    background-size: cover;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    height: 90vh;
    
}
.personnes{
    display: flex;
    height: 75%;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.person{
    border: white 2px solid;
    margin: 150px 30px 40px 40px;
    background-color: white;
    border-radius: 8px;
    height: 70%;
    position: relative;
    width: 25%;
    

}
.special{
   
    margin-top: 50px;
}
.person img{
    position: absolute;
    top:-20%;
    left: 30%;
}

.person p{
    position: absolute;
    top:25%;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    
}
hr{
    width:150px;
    border: black 1px solid;
    background-color: white;
    height: 5px;
    margin:auto;
    
}






/* page about us*/
